// primary color 
$primary_color: #247BA0;
$secondary_color: #ff1654;
$dark_color: #2b3643;
$charcoal_grey_color: hsl(215, 19%, 26%);
$grey_color: #ccc;
$pale_grey_color: #eef1f5;
$white_two_color: #f6f6f6;
$white_color: #ffffff;

// status color
$warning_color: #FFB231;
$danger_color: #FF5C5F;
$success_color: #00B4C0;
$info_color: #0A80CE;

//text_color
$dark_grey_text_color: #333333;
$grey_text_color: #666666;
$light_grey_text_color: #999999;

// font size
$font_extra_small: 10px;
$font_small: 12px;
$font_medium: 14px;
$font_large: 16px;
$font_extra_large: 18px;

// shadow 
$shadow_hover: 0 0 8px 0 #eee;
$shadow_hover_transition: box-shadow 0.3s ease-out;

// height 
$small_height: 30px;
$medium_height: 36px;
$large_height: 44px;

$disabled_opacity: 0.4;
$border_radius: 4px;
$border_color: #e8e8e8;
$text_color:#000000;
$medium_border_radius: 2px;
$text_disable_color: gray;
$focus_bg_color: blue;
$small_border_radius: 1px;
$large_border_radius: 5px;