.my-info-page-wrapper{
  background: linear-gradient(180deg, #56afdd 50%, #FFFFFF 50%);
  background-repeat: no-repeat;
  background-size: 100% 200px;
  
  .my-info-page-title{
    color: white;
    padding: 30px 0 50px 400px;
    font-size: 30px;
  }
  .my-info-page-content-wrapper{
    margin: 0 150px;
    display: flex;
    .my-info-left{
      margin-right: 35px;
      width: 175px;
      .me{
        width: 160px;
        border-radius: 50%;
      }
      .my-contact{
        margin-top: 10px;
        color: gray;
      }
      .my-data{
        margin-top: 20px;
        border-bottom: 1px gray solid;
        color: gray;
        .title{
          color: #56afdd;
        }
      }
    }
    .my-info-right{
      width: 700px;
      margin-left: 40px;
      ul{
        display: flex;
        margin: 0;
        padding: 0;
        margin-left: 50px;
        li{
          text-decoration: none;
          margin-right: 10px;
        }
      }
    }
  }
}