.nav-bar-wrapper{
  .header{
    background-color: #ebebeb;
    display: flex;
    padding:16px 150px 17px 155px; 
    .logo{
      flex: 1;
      .logo-image{
        width: 130px;
      }
    } 
    .profile-maker{
      align-content: flex-end;
      display: flex;
      .profile{
        border: 1px black solid;
        padding: 8px;
        border-radius: 4px; 
        &:first-child{
          margin-right: 10px;
        }
      }
    }
  }
  .menu-wrapper{
    padding: 0 150px;
    background-color: #222;
    ul{
      display: inline-block;
      margin: 0;
      padding: 0;
      li{
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        margin-right: 10px;
        color: white;
        margin-right: 10px;
        &:hover{
          font-weight: bold;
          background-color: lightgray;
        }
      }
    }
  }   
}